@model Product_WebApp.Models.Order

@{
    ViewBag.Title = "Order";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Check Out</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Staff: @Session["staff_name"]
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Staff_ID, new { Value = Session["staff_id"] })
                @Html.ValidationMessageFor(model => model.Staff_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Store: @Session["store_id"]
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Store_ID, new { Value = Session["store_id"] })
                @Html.ValidationMessageFor(model => model.Store_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Date: @Session["order_date"]
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Date, new { Value = DateTime.Now.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Customer Name:
            <div class="col-md-12">
                @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Total Payment: $ @String.Format("{0:0,0}", Session["Payment"])
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Total_Payment, new { Value = Session["Payment"] })
                @Html.ValidationMessageFor(model => model.Total_Payment, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Status, new { Value = "Purchased" })
        @Html.HiddenFor(model => model.CheckoutDate, new { Value = DateTime.Now.ToShortDateString() })

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Check Out" class="btn btn-primary btn-sm" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <a href="@Url.Action("Cart", "Cart")" class="btn btn-info btn-sm">Back to Cart</a>
            </div>
        </div>
    </div>
}

