@model IEnumerable<Product_WebApp.Models.OrderDetails>

@{
    ViewBag.Title = "OrderDetails";
}

<h2>Order Details</h2>

<table class="table table-borderless">
    <tr>
        <td>Customer: @Session["Order-Customer"]</td>
        <td>Order Date: @Session["Order-Date"]</td>
    </tr>
    <tr>
        <td>Staff: @Session["Order-Staff"]</td>
        <td>Purchase Date: @Session["Purchase-Date"]</td>
    </tr>
    <tr>
        <td>Store: @Session["Order-Store"]</td>
        <td colspan="2" style="text-align: left">
            Total Payment: $ @String.Format("{0:0,0}", Session["Order-Payment"])
        </td>
    </tr>
    <tr>
        <td>Status: @Session["Order-Status"]</td>
    </tr>
</table>

<h2>Order Items</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
        </tr>
    }

</table>
